/* Google Fonts Start*/
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Poppins&display=swap");

/* Google Fonts END */

/* Common Styles Start */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* Common Styles END */

/* Top Banner Style Start */
.top-banner {
  background-color: #18481f;
  padding: 86px;
}
.top-banner-container {
  display: flex;
  align-items: center;
}
.top-banner-information {
  width: 50%;
  margin-right: 25px;
}
.website-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}
.read-more-btn {
  background-color: #ef1f35;
  color: white;
  padding: 10px 24px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 24px;
}
.top-banner-logo {
  width: 50%;
  margin-left: 25px;
}
.top-banner-logo img {
  width: 570px;
  height: 430px;
  /* margin-right: 140px; */
}
/* Top Banner Style END */

/* Players Styles Start */
.players {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.players-container {
  width: 1080px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 27px;
}
.player {
  padding: 15px;
  width: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image {
  width: 100%;
  height: 255px;
}
.player-name {
  margin-top: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.player-description {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6c6c6c;
  text-align: justify;
}
/* Players Styles END */
/* Title sponsor styles start */
.title-sponsor {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.title-sponsor-container {
  display: flex;
  width: 1080px;
  align-items: center;
}
.title-sponsor-information {
  width: 50%;
  margin-right: 30px;
}
.title-sponsor-name {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 8px;
}
.title-sponsor-description {
  text-align: justify;
}
.title-sponsor-images {
  width: 50%;
  margin-left: 30px;
}
.title-sponsor-logo {
  width: 100%;
}
/* Title sponsor styles END */

/* Footer Styles Start */
footer {
  margin-top: 150px;
  margin-bottom: 60px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.website-logo-and-name-container {
  display: flex;
  align-items: center;
}
.website-logo {
  margin-right: 20px;
}
.website-name {
  margin-left: 20px;
  font-family: "Niconne", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
}
.social-media {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 32px;
}

.footer-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

/* Footer Styles END */

/* Media Query Start */
/* Mobile Device Start */
@media only screen and (max-width: 688px) {
  .top-banner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-banner-container {
    width: 100%;
    flex-direction: column;
  }
  .top-banner-information {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .top-banner-logo {
    width: 100%;
    margin-left: 0;
  }
  .top-banner-logo img {
    width: 100%;
  }
  .players {
    width: 100%;
    flex-direction: column;
  }
  .players-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
  }
  .player {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .title-sponsor {
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
  }
  .title-sponsor-container {
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .title-sponsor-information {
    width: 100%;
    margin-right: 0;
  }
  .title-sponsor-images {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .title-sponsor-description {
    width: 100%;
  }
}
/* Mobile Device END */
/* Tablet Device Start */
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .top-banner,
  .title-sponsor {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .top-banner-information {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .top-banner-logo {
    width: 100%;
    margin-left: 0;
  }
  .top-banner-logo img {
    width: 100%;
  }
  .players {
    width: 100%;
    align-items: center;
  }
  .players-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Tablet Device END */

/* Media Query END */
