/* Google Fonts Start*/
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Poppins&display=swap");

/* Google Fonts END */

/* Common Styles Start */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* Common Styles END */

/* Header Styles Start */
header nav {
  background-color: #18481f;
  height: 80px;
  width: 100%;
}
header label {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
header nav ul {
  float: right;
  margin-right: 20px;
}
header nav ul li {
  display: inline-block;
  line-height: 65px;
  margin: 0 5px;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  padding: 0 13px;
  border-radius: 3px;
  border-radius: 3px;
}
header a.active,
header a:hover {
  background-color: #54b363;
  transition: 0.5s;
}
header .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 65px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* Header Styles END */

/* Top Banner Style Start */
.top-banner {
  background-color: #18481f;
  padding: 86px;
}

.top-banner-container {
  display: flex;
  align-items: center;
}
.top-banner-information {
  width: 50%;
  margin-right: 25px;
}
.website-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}
.read-more-btn {
  background-color: #ef1f35;
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.read-more-btn span {
  position: absolute;
  display: block;
}
.read-more-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, white);
}
.top-banner:hover .read-more-btn span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.read-more-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, white);
}
.top-banner:hover .read-more-btn span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.read-more-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
}
.top-banner:hover .read-more-btn span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.read-more-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, white);
}
.top-banner:hover .read-more-btn span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.top-banner:hover .read-more-btn {
  color: white;
  background: green;
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  transition-delay: 1s;
}
.top-banner-logo {
  width: 50%;
  margin-left: 25px;
}

.top-banner-logo img {
  width: 570px;
  height: 430px;
}
/* Top Banner Style END */

/* Players Styles Start */
.players {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.players-container {
  width: 1080px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 27px;
}
.player {
  padding: 15px;
  width: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image {
  width: 100%;
  height: 255px;
}
.player-name {
  margin-top: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.player-description {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6c6c6c;
  text-align: justify;
}
/* Players Styles END */
/* Title sponsor styles start */
.title-sponsor {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.title-sponsor-container {
  display: flex;
  width: 1080px;
  align-items: center;
}
.title-sponsor-information {
  width: 50%;
  margin-right: 30px;
}
.title-sponsor-name {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 8px;
}
.title-sponsor-description {
  text-align: justify;
}
.title-sponsor-images {
  width: 50%;
  margin-left: 30px;
}
.title-sponsor-logo {
  width: 100%;
}
/* Title sponsor styles END */

/* Captain Styles Start */
.captains {
  margin-top: 30px;
}
.captains-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
}
.all-captains {
  display: flex;
  justify-content: center;
}
.captain-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.captain {
  width: 300px;
  box-shadow: 5px 5px 40px lightgray;
  border-radius: 10px;
  padding: 20px 10px;
}
.captain-department {
  text-align: center;
  padding: 1%;
  font-size: 2em;
}
.captain-image {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: 0 auto;
}
.captain-name {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
}

/* Captain Styles END */
/* Treanding News Styles Start */

.treanding-news {
  margin-top: 60px;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
}
.treanding-news-title {
  font-size: 2em;
  margin-bottom: 16px;
  text-align: center;
}
.all-news {
  display: flex;
  justify-content: center;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.news {
  width: 300px;
  box-shadow: 5px 5px 40px lightgray;
  border-radius: 10px;
  padding: 10px;
}
.news-thumbnail {
  width: 100%;
}

.news-title {
  font-size: 1.5em;
  margin-bottom: 16px;
}
.news p {
  text-align: justify;
}

/* Treanding News Styles END */

/* Footer Styles Start */
.footer {
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.website-logo-and-name-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.website-logo {
  width: 49%;
}
.website-name {
  width: 49%;
}
.website-name h1 {
  width: 100%;
  font-family: "Niconne", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
}
.social-media {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 32px;
}
.social-media a {
  margin-right: 14px;
}
.fab {
  font-size: 32px;
  color: #969bab;
  opacity: 0.8;
}

/* Footer Styles END */

/* Media Query Start */
/* Mobile Device Start */
@media only screen and (max-width: 688px) {
  main {
    overflow-x: hidden;
  }
  header nav {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .checkbtn {
    display: block;
  }
  header label.logo {
    font-size: 20px;
    padding: 0;
  }
  header label {
    padding: 0 30px;
  }
  header ul {
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color: #54b363;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    padding-left: 15px;
    padding-right: 15px;
  }
  header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  header a:hover,
  header a.active {
    background: none;
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .top-banner {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-banner-container {
    width: 100%;
    flex-direction: column;
  }
  .top-banner-information {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .website-title {
    font-size: 61px;
  }
  .top-banner-logo {
    width: 100%;
    margin-left: 0;
  }
  .top-banner-logo img {
    width: 100%;
  }
  .players {
    width: 90%;
    margin-left: 1%;
  }
  .players-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  .player {
    width: 100%;
  }
  .player-description {
    width: 100%;
  }
  .captains {
    width: 96%;
    margin: 0 2%;
  }
  .all-captains {
    width: 100%;
    flex-direction: column;
  }
  .captain-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
  .captain {
    width: 92%;
    margin: 0 2%;
  }
  .treanding-news {
    width: 100%;
    padding: 0;
  }
  .all-news {
    width: 96%;
    flex-direction: column;
    margin-right: 4%;
  }
  .news-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 24px;
    align-items: center;
  }
  .news {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .title-sponsor {
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .title-sponsor-container {
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .title-sponsor-information {
    width: 100%;
    margin-right: 0;
  }
  .title-sponsor-description {
    width: 100%;
  }
  .title-sponsor-images {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .footer {
    text-align: center;
  }
  .website-name {
    font-size: 60px;
  }

  .social-media a {
    margin-right: 14px;
  }
  .fab {
    font-size: 32px;
  }
}
/* Mobile Device END */
/* Tablet Device Start */
@media only screen and (min-width: 689px) and (max-width: 991px) {
  /* main {
    overflow-x: hidden;
  } */
  header label.logo {
    font-size: 20px;
    padding-left: 20px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  .top-banner {
    width: 90%;
    padding: 10% 5%;
  }
  .top-banner-container {
    width: 100%;
  }
  .top-banner-information {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .top-banner-logo {
    width: 100%;
    margin-left: 0;
  }
  .top-banner-logo img {
    width: 100%;
  }
  .players {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    justify-content: space-between;
  }
  .players-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .title-sponsor {
    width: 100%;
  }
  .title-sponsor-container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .captain-container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    width: 90%;
  }

  .news-container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    width: 100%;
  }
}
/* Tablet Device END */

/* Media Query END */
