/* Google Fonts Start*/
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Poppins&display=swap");

/* Google Fonts END */

/* Common Styles Start */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* Common Styles END */

/* Header Styles Start */
header nav {
  background-color: #18481f;
  height: 80px;
  width: 100%;
}
header label {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
header nav ul {
  float: right;
  margin-right: 20px;
}
header nav ul li {
  display: inline-block;
  line-height: 65px;
  margin: 0 5px;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  padding: 0 13px;
  border-radius: 3px;
  border-radius: 3px;
}
header a.active,
header a:hover {
  background-color: #54b363;
  transition: 0.5s;
}
header .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 65px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* Header Styles END */

/* Top Banner Style Start */
.top-banner {
  background-color: #18481f;
  padding: 86px;
}
.top-banner-container {
  display: flex;
  align-items: center;
}
.top-banner-information {
  width: 50%;
  margin-right: 25px;
}
.website-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
}
.read-more-btn {
  background-color: #ef1f35;
  color: white;
  padding: 10px 24px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 24px;
}
.top-banner-logo {
  width: 50%;
  margin-left: 25px;
}
.top-banner-logo img {
  width: 570px;
  height: 430px;
  /* margin-right: 140px; */
}
/* Top Banner Style END */

/* Players Styles Start */
.players {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.players-container {
  width: 1080px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 27px;
}
.player {
  padding: 15px;
  width: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image {
  width: 100%;
  height: 255px;
}
.player-name {
  margin-top: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.player-description {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6c6c6c;
  text-align: justify;
}
/* Players Styles END */
/* Title sponsor styles start */
.title-sponsor {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.title-sponsor-container {
  display: flex;
  width: 1080px;
  align-items: center;
}
.title-sponsor-information {
  width: 50%;
  margin-right: 30px;
}
.title-sponsor-name {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 8px;
}
.title-sponsor-description {
  text-align: justify;
}
.title-sponsor-images {
  width: 50%;
  margin-left: 30px;
}
.title-sponsor-logo {
  width: 100%;
}
/* Title sponsor styles END */

/* Footer Styles Start */
.footer {
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.website-logo-and-name-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.website-logo {
  width: 49%;
}
.website-name {
  width: 49%;
}
.website-name h1 {
  width: 100%;
  font-family: "Niconne", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
}
.social-media {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 32px;
}
.social-media a {
  margin-right: 14px;
}
.fab {
  font-size: 32px;
  color: #969bab;
  opacity: 0.8;
}
.footer-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
/* Footer Styles END */

/* Media Query Start */
/* Mobile Device Start */
@media only screen and (max-width: 688px) {
  main {
    overflow-x: hidden;
  }
  header nav {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
  header label.logo {
    font-size: 30px;
  }
  header .checkbtn {
    display: block;
  }
  header label {
    padding: 0 30px;
  }
  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  header a:hover,
  header a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .top-banner {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-banner-container {
    width: 100%;
    flex-direction: column;
  }
  .top-banner-information {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .website-title {
    font-size: 61px;
  }
  .top-banner-logo {
    width: 100%;
    margin-left: 0;
  }
  .top-banner-logo img {
    width: 100%;
  }
  .players {
    width: 90%;
    margin-left: 1%;
  }
  .players-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  .player {
    width: 100%;
  }
  .player-description {
    width: 100%;
  }
  .title-sponsor {
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
  }
  .title-sponsor-container {
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .title-sponsor-information {
    width: 100%;
    margin-right: 0;
  }
  .title-sponsor-images {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .title-sponsor-description {
    width: 100%;
  }
  .website-name {
    font-size: 60px;
  }
  .footer {
    text-align: center;
  }
  .social-media a {
    margin-right: 14px;
  }
  .fab {
    font-size: 32px;
  }
}
/* Mobile Device END */
/* Tablet Device Start */
@media only screen and (min-width: 689px) and (max-width: 991px) {
  header label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  main {
    overflow-x: hidden;
  }
  .top-banner {
    width: 90%;
    padding: 10% 5%;
  }
  .top-banner-container {
    width: 100%;
  }
  .top-banner-information {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .top-banner-logo {
    width: 100%;
    margin-left: 0;
  }
  .top-banner-logo img {
    width: 100%;
  }
  .players {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    justify-content: space-between;
  }
  .players-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .title-sponsor {
    width: 100%;
  }
  .title-sponsor-container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
/* Tablet Device END */

/* Media Query END */
